<section id="about">
    <div class="container">

    <header class="section-header">
        <h3>About Us</h3>
        <p>
            iKitty Life is a startup organization registered with registrars of companies on 27th 
            Sept. 2019. The organization is founded by 3 individuals i.e. Ms. Rashida Muse Moseka, 
            Ms. Atizuyo Janeth and Mr. Godwin Ocen who were angered by the high rate of teenage 
            pregnancies in refugees’ settlements and hosting communities of West Nile region of 
            Uganda and hungrily developed teen-centred programs to reduce the statistics. 
        </p>
    </header>

    <div class="row about-container">

        <div class="col-lg-6 content order-lg-1 order-2">
            <p>
                We provide capacity development training for disadvantaged teenagers and their groups 
                with focus on ensuring they have access to correct teen friendly information on sexual 
                reproductive health and rights so that they become resilient, empowered and bold enough 
                to take and own healthy sexual decisions.
            </p>
            <h4 class="title">We aim at:</h4>

            <div class="icon-box wow fadeInUp">
                <div class="icon"><i class="fa fa-users"></i></div>
                <h4 class="title"><a href="">Engagement</a></h4>
                <p class="description">
                    To engage communities of teenagers, young men and women in empowerment and delivery 
                    of sexual reproductive health and rights education to their peers.
                </p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
                <div class="icon"><i class="fa fa-handshake-o"></i></div>
                <h4 class="title"><a href="">Empowerment</a></h4>
                <p class="description">
                    To dialogue and advocate for policy review/development with focus of improving 
                    reproductive health services and supplies for teenagers and young people.
                </p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
                <div class="icon"><i class="fa fa-truck"></i></div>
                <h4 class="title"><a href="">Distribution</a></h4>
                <p class="description">
                    To create and distribute menstrual supplies and contraceptives at the last mile using 
                    the network of young men and women in their communities.
                </p>
            </div>

        </div>

        <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
            <img src="static/img/playing.png" class="img-fluid" alt="">
        </div>
    </div>

    </div>
</section>
