<section id="intro" class="clearfix">
    <div class="container">

      <div class="intro-img">
        <img src="static/img/intro-img.svg" alt="" class="img-fluid">
      </div>

      <div class="intro-info">
        <h2>We <span>Engage</span> & <span>Empower</span> <small> Teenagers & Young people in distributing</small> <span>sexual <br> reproductive Health solutions</span><br><small>to their peers</small> </h2>
        <div>
          <!-- <a href="#about" class="btn-get-started scrollto">Let's Get Started</a><span class="text-white">or </span> &nbsp;&nbsp;  -->
          <a href="#footer" class="btn-services scrollto">Support Us</a>
        </div>
      </div>

    </div>
</section>
