<section id="portfolio" class="clearfix section-bg">
    <div class="container">

        <header class="section-header">
            <h3 class="section-title">Our Projects</h3>
        </header>

        <div class="row about-extra">
            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="portfolio-wrap">
                    <img src="static/img/way-up.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4><a href="#">Accelerate</a></h4>
                        <p>program</p>
                        <div>
                            <a href="static/img/way-up.png" data-lightbox="portfolio" data-title="Up Accelerate"
                                class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
                <p>
                    Our innovative teen based program won a prestigious UNFPA’s UP Accelerator
                    WAY program edition implemented by Outbox which came with US$5000 investments.
                    This investment has made iKitty Life to develop and test teen friendly programs
                    to improve access to correct information on SRHR and safe contraceptives for
                    teenagers and young people.
                </p>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="portfolio-wrap">
                    <img src="static/img/amplifychange.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4><a href="#">Amplify Change</a></h4>
                        <p>advocacy</p>
                        <div>
                            <a href="static/img/amplifychange.png" data-lightbox="portfolio" data-title="Amplify Change"
                                class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
                <p>
                    iKitty Life, with funding support from AmplifyChange, is implementing the Advocacy for Last
                    Mile SRHR Services for Adolescents and Young People project in Arua District. The project
                    aims to enhance advocacy for sexual and reproductive health and rights (SRHR) services among
                    adolescents, youth, leaders, duty bearers, and communities in the district.
                </p>
            </div>
        </div>
    </div>
</section>