<section id="services" class="section-bg">
    <div class="container">

        <header class="section-header">
            <h3>Our Services</h3>
            <p>
                We offer friendly solutions that engages and empowers disadvantaged teenagers and
                young people to access livelihood and life skills to realize their potential through the
                following thematic areas;
            </p>
        </header>

        <div class="row">

            <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
                <div class="box">
                    <div class="icon pl-4"><i class="fa fa-graduation-cap" style="color: #f72;"></i></div>
                    <h4 class="title pl-5"><a href="">Education and Youth Skills Development</a></h4>
                    <p class="description pl-5">
                        This focus area involves initiatives aimed at improving access to vocational skills
                        for young people and equipping them with the
                        necessary skills for personal and professional growth. This includes programs such
                        as vocational training, mentorship, and educational opportunities.

                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-duration="1.4s">
                <div class="box">
                    <div class="icon pl-4"><i class="fa fa-medkit" style="color:#2e39cf;"></i></div>
                    <h4 class="title pl-4"><a href="">Adolescent Health</a></h4>
                    <p class="description pl-4">
                        iKitty Life addresses issues related to the physical, mental, and
                        emotional well-being of adolescents. This involves programs focused on sexual and
                        reproductive health, mental health awareness, nutrition and substance abuse prevention
                        for young people. <br><br>
                    </p>
                    <p></p>
                </div>
            </div>

            <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                <div class="box">
                    <div class="icon pl-4"><i class="fa fa-female" style="color: #3fcdc7;"></i></div>
                    <h4 class="title"><a href="">Youth Livelihood</a></h4>
                    <p class="description pl-4">
                        This thematic area involves initiatives aimed at promoting economic
                        empowerment among young people. It includes entrepreneurship programs, job training,
                        financial literacy education, microfinance opportunities, and support for small business
                        development.<br><br>
                    </p>
                    <p></p>
                </div>
            </div>
            <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                <div class="box">
                    <div class="icon pl-4"><i class="fa fa-tasks" style="color: #e9bf06;"></i></div>
                    <h4 class="title pl-4"><a href="">Youth-Led Advocacy</a></h4>
                    <p class="description pl-4">
                        iKitty Life seems to prioritize empowering young people to
                        advocate for their rights and interests. This involves training youth in advocacy skills,
                        supporting youth-led organizations and movements, promoting youth participation in
                        decision-making processes, and advocating for policy changes that benefit young people.
                    </p>
                </div>
            </div>

        </div>

    </div>
</section>