<section id="services" class="section-bg">
    <div class="container">

        <header class="section-header">
            <h3>Our Services</h3>
            <p>
                We offer friendly solutions that engages and empowers disadvantaged teenagers and 
                young people to access support on menstrual hygiene management, SRHR and access to 
                safe contraceptives through;
            </p>
        </header>

        <div class="row">

            <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
                <div class="box">
                    <div class="icon pl-4"><i class="fa fa-graduation-cap" style="color: #f72;"></i></div>
                    <h4 class="title pl-5"><a href="">1-hour Girls Empowerment Class</a></h4>
                    <p class="description pl-5">
                        We deliver evidence-based training for girls on Sexual Reproductive Health with 
                        one powerful message to avoid older men. We aim to reach over 1 million teens, 
                        young men and women in Uganda.
                        We conduct randomized field trials to trigger learning and retain our freshness 
                        in our works.

                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-duration="1.4s">
                <div class="box">
                    <div class="icon pl-4"><i class="fa fa-tasks" style="color: #e9bf06;"></i></div>
                    <h4 class="title pl-4"><a href="">Teen-to-Teens Program</a></h4>
                    <p class="description pl-4">
                        This program empowers teenagers themselves to become agents of change in their 
                        communities. Teens are recruited, trained and are matched with fellow peers to 
                        provide mentoring support on leadership, sexual reproductive health and right 
                        education. <br><br>
                    </p>
                    <p></p>
                </div>
            </div>

            <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                <div class="box">
                    <div class="icon pl-4"><i class="fa fa-female" style="color: #3fcdc7;"></i></div>
                    <h4 class="title"><a href="">Menstrual Hygiene & Supplies</a></h4>
                    <p class="description pl-4">
                        iKitty Life builds last mile network of teenage girls who empower their peers in 
                        menstrual hygiene management and affordable access to menstrual supplies.<br><br>
                    </p>
                    <p></p>
                </div>
            </div>
            <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                <div class="box">
                    <div class="icon pl-4"><i class="fa fa-medkit" style="color:#2e39cf;"></i></div>
                    <h4 class="title pl-4"><a href="">Contraceptives for Teens</a></h4>
                    <p class="description pl-4">
                        iKitty Life has a model where teenagers are at the centre of last 
                        mile distribution cycle of contraceptive where 1) teenagers to get 
                        unhindered access to contraceptive 2) it is also a 
                        source of income for teens through commissions.
                    </p>
                </div>
            </div>

        </div>

    </div>
</section>
