<section id="team">
    <div class="container">
        <div class="section-header">
            <h3>Team</h3>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-6 wow fadeInUp">
                <div class="member">
                    <img src="static/img/godwin.jpg" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>Ocen Godwin</h4>
                            <span>Co-founder & Team Lead</span>
                           
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="member">
                    <img src="static/img/janet.jpg" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>Atizuyo Janeth</h4>
                            <span>Co-founder & Associate Operations Lead</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                <div class="member">
                    <img src="static/img/rashida.jpg" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>Rashida Musa Mosheka</h4>
                            <span>Co-founder & Administrations Lead</span>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
